@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/**stylisation polices d'écritures**/
@font-face {
  font-family: shrikhand;
  src: url(./font/Shrikhand-Regular.ttf);
}

@font-face {
  font-family: roboto;
  src: url(./font/Roboto-Regular.ttf);
}

html {
  font-size: 16px;
  font-family: roboto;
}

body {
  width: 100%;
  margin: auto;
}

h1 {
  font-size: 1.65rem;
  font-weight: bold;
}

h1.h1restaurant {
  font-family: shrikhand;
}

h3 {
  font-size: 1.1rem;
  font-weight: bold;
}

p {
  font-size: 1.08rem;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

/**style logo**/
.mheader__logo {
  width: 180px;
  height: auto;
}

.footerlogo {
  font-family: shrikhand;
}

/**style font-awesome icones**/
.fas {
  font-size: 17.6px;
  color: #8c8c8c;
}

.fas.fa-map-marker-alt {
  color: black;
}

.fas.fa-store {
  color: #9356DC;
}

.fas.fa-heart {
  color: black;
}

.fas.fafooter {
  color: #fff;
}

.fas.faarrow {
  color: black;
}

.fas.fa-check-circle {
  color: #fff;
  font-size: 22px;
}

.heart {
  width: 100%;
  height: 100%;
  font-size: 13.6px;
}

.heart svg {
  overflow: visible;
}

.heart path {
  opacity: 1;
  fill-opacity: 0;
  fill: url(#Gradient1);
  stroke: black;
  stroke-opacity: 1;
  -webkit-transform-origin: center;
          transform-origin: center;
}

.heart path:hover {
  cursor: pointer;
  -webkit-animation: fill 750ms ease-in-out both;
          animation: fill 750ms ease-in-out both;
}

.heart path:active {
  cursor: pointer;
  -webkit-animation: fill 750ms ease-in-out both;
          animation: fill 750ms ease-in-out both;
}

@-webkit-keyframes fill {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  99% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    fill-opacity: 1;
    stroke-opacity: 0;
  }
}

@keyframes fill {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  99% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    fill-opacity: 1;
    stroke-opacity: 0;
  }
}

.button {
  display: block;
  width: 220px;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 30px;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), color-stop(45%), to(#9356DC));
  background: linear-gradient(#FF79DA, 45%, #9356DC);
  color: #fff;
  -webkit-box-shadow: 0px 4px 7px 0px #bfbfbf;
          box-shadow: 0px 4px 7px 0px #bfbfbf;
}

.button:hover {
  -webkit-animation: button 100ms both;
          animation: button 100ms both;
  color: #fff;
}

.button:active {
  -webkit-animation: button 100ms both;
          animation: button 100ms both;
  color: #fff;
}

@-webkit-keyframes button {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.97);
            transform: scale(0.97);
    opacity: 0.9;
    -webkit-box-shadow: 1px 5px 8px 0px #8c8c8c;
            box-shadow: 1px 5px 8px 0px #8c8c8c;
  }
}

@keyframes button {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.97);
            transform: scale(0.97);
    opacity: 0.9;
    -webkit-box-shadow: 1px 5px 8px 0px #8c8c8c;
            box-shadow: 1px 5px 8px 0px #8c8c8c;
  }
}

.loading {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 1;
  z-index: 3;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: page 3s both;
          animation: page 3s both;
}

.loading .primary-color {
  opacity: 1;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border-top: 5px solid #9356DC;
  border-left: 5px solid #9356DC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: loader 2.5s ease-in-out both;
          animation: loader 2.5s ease-in-out both;
}

.loading .primary-color .secondary-color {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border-bottom: 5px solid #FF79DA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: loader 3.5s ease-in-out both;
          animation: loader 3.5s ease-in-out both;
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
}

.loading .primary-color .secondary-color .tertiary-color {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border-top: 5px solid #99E2D0;
  -webkit-animation: loader 2s ease-in-out both;
          animation: loader 2s ease-in-out both;
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
}

@-webkit-keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes page {
  0% {
    opacity: 0.9;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    opacity: 0.9;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  80% {
    opacity: 0.9;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  95% {
    opacity: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes page {
  0% {
    opacity: 0.9;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    opacity: 0.9;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  80% {
    opacity: 0.9;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  95% {
    opacity: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

.mheader {
  width: 100%;
  height: 70px;
  background-color: #fff;
  margin: auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mheader__logo {
  margin-top: 25px;
}

.mheader__arrow {
  margin-top: 25px;
  position: absolute;
  left: 20px;
  top: 5px;
}

.footer {
  background-color: #262626;
  color: #fff;
}

.footer a {
  color: #fff;
}

.footer a:hover {
  text-decoration: none;
}

.footer a:active {
  text-decoration: underline;
}

.footer .footerlogo {
  font-size: 1.1rem;
  padding-top: 20px;
  padding-bottom: 10px;
}

.footer .fafooter {
  font-size: 12px;
  padding-right: 14px;
}

.footer .fafooter.fa-hands-helping {
  -webkit-transform: rotate(-8deg);
          transform: rotate(-8deg);
  font-size: 10px;
  padding-right: 11px;
}

.footer p {
  font-size: 0.935rem;
  padding-left: 22px;
  padding-top: 8px;
}

.footer__contact {
  padding-bottom: 30px;
}

.position {
  background-color: #e5e5e5;
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: inset 0px 2px 5px #bfbfbf;
          box-shadow: inset 0px 2px 5px #bfbfbf;
}

.position .marker {
  position: absolute;
  left: -33px;
  padding-right: 40px;
}

.position h3 {
  position: absolute;
  font-weight: 600;
  color: #333333;
}

.présentation {
  background-color: #F2F2F2;
  height: 280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.présentation h1 {
  padding: 50px;
  padding-bottom: 15px;
}

.présentation p {
  color: #333333;
  padding-bottom: 30px;
}

.fonctionnement {
  margin: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 33.333% 33.333% 33.333%;
      grid-template-columns: 33.333% 33.333% 33.333%;
  -ms-grid-rows: 20% 25% 25% 25%;
      grid-template-rows: 20% 25% 25% 25%;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 360px;
  margin-top: 20px;
}

.fonctionnement__header {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column-align: start;
      justify-self: start;
  margin-left: 20px;
  margin-top: 10px;
}

.fonctionnement__list {
  background-color: #F2F2F2;
  width: 85%;
  max-width: 370px;
  height: 70px;
  -webkit-box-shadow: 0px 4px 7px 0px #bfbfbf;
          box-shadow: 0px 4px 7px 0px #bfbfbf;
  border-radius: 20px;
  margin-bottom: 0px;
  margin-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.fonctionnement__list span {
  position: absolute;
  left: -10px;
  width: 25px;
  height: 23px;
  background-color: #9356DC;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-bottom: 3px;
  color: #fff;
}

.fonctionnement__list h3 {
  position: relative;
  position: absolute;
  left: 70px;
}

.fonctionnement__list h3 .fas {
  position: absolute;
  left: -40px;
}

.fonctionnement__list--1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.fonctionnement__list--2 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}

.fonctionnement__list--3 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
}

.restaurants {
  background-color: #F2F2F2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 40px;
  padding-bottom: 50px;
}

.restaurants__header {
  margin: 20px;
  margin-top: 50px;
  margin-bottom: 0px;
}

.restaurants__list {
  display: -ms-grid;
  display: grid;
  width: 90%;
  max-width: 450px;
  height: 250px;
  -webkit-transition: height 300ms ease-in-out;
  transition: height 300ms ease-in-out;
  margin: auto;
  border-radius: 15px;
  -webkit-box-shadow: 0px 4px 7px 0px #bfbfbf;
          box-shadow: 0px 4px 7px 0px #bfbfbf;
  -ms-grid-columns: 33.333% 33.333% 16.665% 16.665%;
      grid-template-columns: 33.333% 33.333% 16.665% 16.665%;
  -ms-grid-rows: 75% 12.5% 12.5%;
      grid-template-rows: 75% 12.5% 12.5%;
  position: relative;
  margin-top: 20px;
}

.restaurants__list a {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1/5;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.restaurants__list a:active {
  opacity: 0.8;
}

.restaurants__list a:hover {
  opacity: 0.8;
}

.restaurants__list img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.restaurants__list h3 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  margin: 10px;
}

.restaurants__list p {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  margin: 10px;
  margin-top: 4px;
}

.restaurants__list .heart {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2/4;
  position: absolute;
  top: 18px;
}

.restaurants__list--nouveau .new {
  position: absolute;
  top: 13px;
  right: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #1b6150;
  width: 85px;
  height: 30px;
  border-radius: 3px;
  background-color: #99E2D0;
}

.restaurant {
  position: relative;
}

.restaurant__image {
  width: 100%;
  height: 300px;
  -webkit-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out;
  position: relative;
}

.restaurant__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  z-index: -1;
}

.restaurant__list {
  background-color: #F2F2F2;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  margin-top: -50px;
  padding-bottom: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.restaurant__list .rheader {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-flex-item-align: center;
      align-self: center;
  justify-self: center;
  padding-top: 30px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.restaurant__list .rheader h1 {
  padding-right: 50px;
  margin-left: 20px;
}

.restaurant__list .rheader .heart {
  width: 25px;
  height: 25px;
  margin-right: 25px;
  z-index: 1;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 30px;
}

.menu__header {
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding-left: 20px;
}

.menu__header .underline {
  margin-top: 5px;
  width: 45px;
  height: 3px;
  background-color: #99E2D0;
}

.menu__list {
  width: 90%;
  max-width: 330px;
  height: 70px;
  background-color: #fff;
  -webkit-box-shadow: 0px 4px 7px 0px #bfbfbf;
          box-shadow: 0px 4px 7px 0px #bfbfbf;
  border-radius: 15px;
  margin-top: 15px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 95% 15%;
      grid-template-columns: 95% 15%;
  -ms-grid-rows: 100%;
      grid-template-rows: 100%;
  overflow: hidden;
  -webkit-animation: opening 450ms ease-in-out both;
          animation: opening 450ms ease-in-out both;
}

.menu__list--1 {
  -webkit-animation-delay: 596.33333ms;
          animation-delay: 596.33333ms;
}

.menu__list--2 {
  -webkit-animation-delay: 793.33333ms;
          animation-delay: 793.33333ms;
}

.menu__list--3 {
  -webkit-animation-delay: 996.33333ms;
          animation-delay: 996.33333ms;
}

.menu__list--4 {
  -webkit-animation-delay: 1198ms;
          animation-delay: 1198ms;
}

.menu__list--5 {
  -webkit-animation-delay: 1397.33333ms;
          animation-delay: 1397.33333ms;
}

.menu__list--6 {
  -webkit-animation-delay: 1599ms;
          animation-delay: 1599ms;
}

.menu__list--7 {
  -webkit-animation-delay: 1798.66667ms;
          animation-delay: 1798.66667ms;
}

.menu__list--8 {
  -webkit-animation-delay: 1997.66667ms;
          animation-delay: 1997.66667ms;
}

.menu__list--9 {
  -webkit-animation-delay: 2194ms;
          animation-delay: 2194ms;
}

.menu__list--10 {
  -webkit-animation-delay: 2397.66667ms;
          animation-delay: 2397.66667ms;
}

.menu__list:hover .spinningok {
  -webkit-transform: scaleX(1) translateX(-60px);
          transform: scaleX(1) translateX(-60px);
}

.menu__list:hover .spinningok i {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.menu__list:hover .plats {
  width: 75%;
}

.menu__list:active .spinningok {
  -webkit-transform: scaleX(1) translateX(-60px);
          transform: scaleX(1) translateX(-60px);
}

.menu__list:active .spinningok i {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.menu__list:active .plats {
  width: 75%;
}

.menu .plats {
  display: -ms-grid;
  display: grid;
  width: 100%;
  -webkit-transform-origin: 0% 50%;
          transform-origin: 0% 50%;
  -ms-grid-columns: 90% 10%;
      grid-template-columns: 90% 10%;
  -ms-grid-rows: 50% 50%;
      grid-template-rows: 50% 50%;
  margin-right: 20px;
  -webkit-transition: width 500ms ease-in-out;
  transition: width 500ms ease-in-out;
}

.menu .plats h3 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  height: 20px;
  width: auto;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-left: 10px;
  padding-top: 3px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu .plats p {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-flex-item-align: baseline;
      align-self: baseline;
  padding-left: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
}

.menu .plats b {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-flex-item-align: baseline;
      align-self: baseline;
  width: 30px;
}

.menu .spinningok {
  width: 80px;
  height: 100%;
  background-color: #99E2D0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  -webkit-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
  -webkit-transform: scaleX(1) translateX(19px);
          transform: scaleX(1) translateX(19px);
  -webkit-transition: -webkit-transform 500ms ease-in-out;
  transition: -webkit-transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
}

.menu .spinningok i {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: -webkit-transform 650ms ease-in-out;
  transition: -webkit-transform 650ms ease-in-out;
  transition: transform 650ms ease-in-out;
  transition: transform 650ms ease-in-out, -webkit-transform 650ms ease-in-out;
}

.menubutton {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: 50px;
  width: 180px;
  height: 50px;
}

@-webkit-keyframes opening {
  0% {
    -webkit-transform: translateY(20%) scaley(0.9);
            transform: translateY(20%) scaley(0.9);
    visibility: hidden;
    opacity: 0.2;
  }
  100% {
    visibility: visible;
    -webkit-transform: translateY(0) scaley(1);
            transform: translateY(0) scaley(1);
    opacity: 1;
  }
}

@keyframes opening {
  0% {
    -webkit-transform: translateY(20%) scaley(0.9);
            transform: translateY(20%) scaley(0.9);
    visibility: hidden;
    opacity: 0.2;
  }
  100% {
    visibility: visible;
    -webkit-transform: translateY(0) scaley(1);
            transform: translateY(0) scaley(1);
    opacity: 1;
  }
}

@media screen and (max-width: 319px) {
  .menu__list:hover .plats {
    width: 67%;
  }
  .menu__list:hover .spinningok {
    width: 74px;
    -webkit-transform: scaleX(1) translateX(-60px);
            transform: scaleX(1) translateX(-60px);
  }
}

@media screen and (min-width: 430px) and (max-width: 1024px) {
  .footer {
    text-align: center;
  }
  .fonctionnement__header {
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .restaurants {
    display: -ms-grid;
    display: grid;
  }
  .restaurants__header {
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .restaurants__list {
    height: 310px;
  }
  .restaurant__image {
    height: 440px;
  }
  .menu__header {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media screen and (min-width: 1024px) {
  html {
    font-size: 16.8px;
  }
  .footer {
    text-align: center;
  }
  .footer a:hover {
    text-decoration: underline;
  }
  .fonctionnement__header {
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .restaurants {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
    -ms-grid-rows: 10% 45% 45%;
        grid-template-rows: 10% 45% 45%;
    padding-left: 100px;
    padding-right: 100px;
  }
  .restaurants__header {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    margin: 0;
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .restaurants__list {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
    margin-bottom: 50px;
  }
  .restaurants__list--1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  .restaurants__list--2 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  .restaurants__list--3 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }
  .restaurants__list--4 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }
  .restaurant__image {
    height: 500px;
  }
  .restaurant__list {
    display: -ms-grid;
    display: grid;
  }
  .menu__header {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .menubutton {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .button:hover {
    -webkit-animation: button 100ms both;
            animation: button 100ms both;
    color: #fff;
  }
}

@media screen and (min-width: 1440px) {
  html {
    font-size: 17.6px;
  }
}
/*# sourceMappingURL=sass.css.map */