.restaurant{
    position:relative;
    &__image{
        width:100%;
        height:300px;
        transition:height 500ms ease-in-out;
        position:relative;
        
        img{
            width:100%;
            height:100%;
            object-fit: cover;
            position:absolute;
            z-index:-1;
            
        }
    }
    &__list{
        background-color:$lightgrey;
        border-top-left-radius:50px;
        border-top-right-radius: 50px;
        margin-top:-50px;
        padding-bottom:80px;
        display:flex;
        flex-direction:column;

        
        .rheader{
            grid-column: 1/4;
            grid-row:1/2;
            align-self: center;
            justify-self:center ;
            padding-top:30px;
            width:100%;
            display:flex;
            justify-content: center;
            h1{
                padding-right:50px;
                margin-left:20px;
            }
            .heart{
                width:25px;
                height:25px;
                margin-right:25px;
                z-index: 1;
            }
        }
       
            
        }


    }



.menu{
    display:flex;
    flex-direction:column;
    align-items: center;
    padding-top:30px;
    &__header{
        align-self:flex-start;
        padding-left:20px;
        .underline{
            margin-top:5px;
            width:45px;
            height:3px;
            background-color: $tertiary-color;
        }

    }

    &__list{
        width:90%;
        max-width:330px;
        height:70px;
        background-color: $white;
        box-shadow: $shadow;
        border-radius:15px;
        margin-top:15px;
        display:grid;
        grid-template-columns: 95% 15%;
        grid-template-rows: 100%;
        overflow: hidden;
        animation: opening 450ms ease-in-out both;
        @for $i from 1 through 10{
            &--#{$i} {
                animation-delay:400ms +  (200ms * $i -  (random(20) * 1/3));
            }
        }
        &:hover .spinningok{
        transform:scaleX(1) translateX(-60px);
        }
        &:hover .spinningok i{
        transform:rotate(360deg) ;
        }
        &:hover .plats{
            width:75%;
        }
        &:active .spinningok{
            transform:scaleX(1) translateX(-60px);
            }
        &:active .spinningok i{
            transform:rotate(360deg) ;
            }
        &:active .plats{
                width:75%;
            }
        

        
    }
    .plats{
        display:grid;
        width:100%;
        grid-template-columns: 90% 10%;
        grid-template-rows: 50% 50%;
        margin-right:20px;
        transition: width 500ms ease-in-out;
        h3{
            grid-column: 1/2;
            grid-row: 1/2;
            height:20px;
            width:auto;
            align-self: center;
            padding-left:10px;
            padding-top:3px;
            @include ellipsis;
        }
        p{
            grid-column:1/2;
            grid-row:2/3;
            align-self:baseline;
            padding-left:10px;
            @include ellipsis;
            font-size:14px;

        }
        b{
            grid-column:2/3;
            grid-row:2/3;
            align-self:baseline;
            width:30px;
        }

    }
    .spinningok{
        width:80px;
        height:100%;
        background-color: $tertiary-color;
        display:flex;
        justify-content: center;
        align-items: center;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        transform-origin:100% 50%;
        transform:scaleX(1) translateX(19px);
        transition: transform 500ms ease-in-out;
        i{
            transform:rotate(0deg);
            transition: transform 650ms ease-in-out;
        }
    }

}
.menubutton{
    align-self:center;
    margin-top:50px;
    width:180px;
    height:50px;
}


@keyframes opening{
    0%{
        transform:translateY(20%) scaley(0.9);
        visibility: hidden;
        opacity:0.2;
    }
    100%{
        visibility: visible;
        transform:translateY(0) scaley(1);
        opacity:1;

    }
}